
header{
    background-image: url(./img/20220410_155127.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
}
body{
    font-family: 'Roboto', sans-serif;   
}
.body{
    background-image: url(./img/20220410_155127.jpg);
    background-size: cover;
}

.center {
    display: flex;    
    justify-content: center;
    align-items: center;
}


h1 {
    color: black
}

.titulo {
    text-align: center;
    background-color: #C4C4C4;
    color: #005677;
    font-size: 80px;
}

h2 {
    background-color: #C4C4C4;
    color: #005677;
    font-size: 40px;
}

span {
    font-weight: bold
    ;
    font-size: 20px ;

}

.pie {
    background-color: #005677;

    color: white;

    text-align: center;
}

h3 {
    text-align: center;
}
p{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sobremi{
    font-size: medium;
}

h4{
    font-weight: bold;
    font-size: 30px;
}
.p{
    font-size: 25px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    align-items: left;
    vertical-align: super;
    
}
